@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", monospace;
    text-decoration: none;
    list-style: none;
    text-transform: none;
    color: white;
}

:root {
    --main-bg-color: #282c33;
    --font-color-vio: #c778dd;
    --font-color-disc: #abb2bf;
    --white: #fff;
}

body {
    background: var(--main-bg-color);
    height: 300vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.ff {
    &.vio {
        color: var(--font-color-vio);
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.disc {
        color: var(--font-color-disc);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
    }
}

.btn {
    display: inline-flex;
    padding: 8px 16px;
    background-color: transparent;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid var(--font-color-vio);
}

#Header {
    max-width: 1440px;
    display: flex;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--main-bg-color);
    padding: 32px 0px 8px 0px;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

nav {
    &.title {
        span {
            font-size: 32px !important;
        }
    }
    ul {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        li {
            display: flex;
            align-items: flex-start;
            .dash {
                color: var(--font-color-vio);
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

#viewport1 {
    display: flex;
    margin-top: 62px;
    align-items: center;
    justify-content: space-between;
    .left {
        h1,
        span {
            font-size: 48px;
        }
        p {
            margin-top: 32px;
            font-size: 24px;
        }
        button {
            margin-top: 24px;
        }
    }
    .right {
        height: fit-content;
        position: relative;
        img {
            &.me {
                z-index: 1;
                position: relative;
            }
            &.dots {
                z-index: 2;
                position: absolute;
                top: 246px;
                left: 357px;
            }
            &.square {
                position: absolute;
                left: -12px;
                top: 84px;
                z-index: 0;
            }
        }
        .message {
            margin-left: 20px;
            margin-top: -5px;
            display: flex;
            width: 402px;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border: 1px solid var(--font-color-disc);
            background: var(--main-bg-color);
            .rectangle {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
                border: 1px solid var(--font-color-vio);
                background: var(--font-color-vio);
            }
        }
    }
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
    .messagePort {
        margin: 0 auto;
        position: relative;
        display: inline-flex;
        padding: 32px;
        align-items: flex-start;
        gap: 10px;
        border: 1px solid var(--font-color-disc);
        background: var(--main-bg-color);
        .images {
            img {
                z-index: 3;
                display: flex;
                padding: 4px 8px;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                background: var(--main-bg-color);
                position: absolute;
                &:first-child {
                    left: 11px;
                    top: -14px;
                }
                &:last-child {
                    right: 16.528px;
                    bottom: -13.704px;
                    transform: rotate(180deg);
                }
            }
        }
        .disc {
            span {
                &:last-child {
                    display: flex;
                    padding: 16px;
                    align-items: flex-start;
                    gap: 10px;
                    position: absolute;
                    right: 0px;
                    bottom: -65%;
                    border: 1px solid var(--font-color-disc);
                }
            }
        }
    }
}

.block {
    width: 100%;
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        display: flex;
        width: 701px;
        align-items: center;
        gap: 16px;
        .line {
            width: 100%;
            height: 2px;
            flex: 1 0 0;
            background-color: var(--font-color-vio);
        }
    }
    .right {
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
    }
}
