@media only screen and (max-width: 1000px) {
    #viewport {
        #header {
            #mainHeader {
                width: auto;
                left: 0;
                .links {
                    width: 100%;
                }
                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}
